.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.page-container.number {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.missing {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex: 1;
}
.with-number {
  width: 20%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.with-number img {
  width: 100%;
  position: absolute;
}
.with-number span {
  font-size: 3rem;
  z-index: 999;
  font-weight: bold;
  margin-top: 40px;
}
